<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Order">
    
    <!-- 상품 목록 조회 -->
    <select id="selectProductList" parameterType="ExHashMap" resultType="ExHashMap">
        SELECT    num
                , title
                , price
                , qty
        FROM tb_products
    </select>
    
    <!-- 선택 상품 조회 -->
    <select id="selectProductInfo" parameterType="ExHashMap" resultType="ExHashMap">
        SELECT    num
                , gbn
                , title
                , price
                , qty
        FROM tb_products
        WHERE num = #{num}
    </select>
    
    
    <!-- 상품 재고 수정 -->
    <update id="updateProductQty" parameterType="ExHashMap">
        UPDATE tb_products
        <set> 
                  qty = qty - ${orderQty}
        </set>
        WHERE num = #{num}
    </update>
    
    <!-- 상품 재고 조회 -->
    <select id="selectProductQty" parameterType="ExHashMap" resultType="int">
        SELECT qty
        FROM tb_products
        WHERE num = #{num}
    </select>
    
</mapper>